---

import Layout from '../../layouts/Layout.astro';
import SectionNine from '../../components/sections/SectionNine.astro';
import Tabs2 from '../../components/organisms/Tabs2.astro';
import NewCard1 from '../../components/molecules/NewCard1.astro';

    /* PRODKT API */
    const response = await fetch('http://127.0.0.1:1337/api/learning-paths?populate=*');
    const { data } = await response.json();


export async function getStaticPaths() {
  const response = await fetch('http://127.0.0.1:1337/api/learning-roles?populate=*');
    const { data } = await response.json();

    return data.map((learningRole) => {
      return {
        params: { slug: learningRole.attributes.slug },
        props: { learningRole },
      };
    });
}
    /* END PRODKT API */
---
<!-- {
    data.map((learningPath) => (
      <>
      <a href={`/learning-paths/${learningPath.attributes.slug}`}> {learningPath.attributes.title} </a>
      </>
    ))
  } -->
<Layout title="index">

<!-- <a href={`/learning-paths/${learningPath.attributes.slug}`}> {learningPath.attributes.title} </a> -->
<div class="p-8 mx-auto w-full border-b border-base6"> <Tabs2 /> </div>
<div class="flex flex-col gap-0 max-w-5xl mx-auto w-full justify-left px-4 py-3">
  <h1 class="text-3xl font-bold text-base9">A</h1>
  </div>
<SectionNine class=" overflow-hidden">
  <div class="grid grid-cols-2 justify-items-stretch grid-rows-1 relative top-0 gap-4 items-stretch">
  {
    data.map((learningPath) => (
      <NewCard1 url={`/learning-paths/${learningRole.attributes.slug}`} title={`${learningRole.attributes.title}`} description={`${learningRole.attributes.description}`} />
      
    ))
  }
  </div>
</SectionNine>
</Layout>
